<h1>reactive form ile personel ekleme</h1>
<br>


<div *ngIf="!isUpdateFormActive">
  <form [formGroup]="addForm">
    <div>
      Personel adi
      <input formControlName="name" type="text">
    </div>
    <div >
      Bölüm
      <select formControlName="proffesion">
        <option>Muhasabe</option>
        <option>Finans</option>
        <option>Yazilim</option>
      </select>
    </div>
    <div>
      İse Giris Tarihi
      <input readonly formControlName="startDate">
    </div>
    <div>
      <button [disabled]="!addForm.valid" (click)="save()">Kaydet</button>
    </div>
  </form>
</div>

<div *ngIf="isUpdateFormActive">
<form [formGroup]="addForm">
  <div>
    Personel adi
    <input formControlName="name" type="text">
  </div>
  <div >
    Bölüm
    <select formControlName="proffesion">
      <option>Muhasabe</option>
      <option>Finans</option>
      <option>Yazilim</option>
    </select>
  </div>
  <div>
    İse Giris Tarihi
    <input readonly formControlName="startDate">
  </div>
  <div>
    <button [disabled]="!updateForm.valid" (click)="update()">Guncelle</button>
    <button (click)="cancel()">Vazgec</button>
  </div>
</form>
</div>

<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Personel Adi</th>
      <th scope="col">Bolumu</th>
      <th scope="col">İse Giris Tarihi</th>
      <th scope="col">İslemler</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of employee let i = index">
      <td>{{i + 1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.proffesion}}</td>
      <td>{{item.startDate}}</td>
      <td>
        <button (click)="get(item,i)">Guncelle</button>
      </td>
    </tr>
  </tbody>
</table>